body {
  background-color: #222;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column {
  flex-basis: calc(50% - 20px);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wider-column {
  flex-basis: calc(66.67% - 20px);
}

.narrower-column {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  flex-basis: calc(33.33% - 20px);
  padding: 20px;
  margin-left: 20px;
}

.narrower-column-internal {
  border: 2px solid #fff;
  border-radius: 5px;
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: #333;
}

.error-popup {
  background-color: #f44336;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background-color: #3e8e41;
}

select {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
}

.candidate-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.candidate-list li {
  font-size: 18px;
  margin-bottom: 10px;
}

.winner {
  font-size: 24px;
  margin-top: 10px;
  background-color: #ffc107;
  color: #222;
  padding: 10px;
  border-radius: 5px;
}


.candidate-table {
  border-collapse: collapse;
  width: 100%;
}

.candidate-table th,
.candidate-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.candidate-table th {
  background-color: #020202;
  font-weight: bold;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-label {
  display: block;
  margin-bottom: 10px;
  text-align: center;
}

.form-input {
  width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 2px;
}

.centered {
  text-align: center; /* Centers the text horizontally */
  font-size: 24px; /* Sets the font size */
  color: rgb(230, 190, 190); /* Sets the font color */
  font-family: Arial, sans-serif; /* Sets the font family */
  margin-top: 20px; /* Adds some top margin */
  border-bottom: 2px solid #333; /* Adds a border at the bottom */
  padding-bottom: 10px; /* Adds some padding at the bottom */
}

#voting-header {
  text-align: center;
  font-size: 24px;
  font-family: Arial, sans-serif;
  margin-top: 20px;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
}

.status-indicator {
  color: orange; /* default color for voting in progress */
}

#voting-status.finished {
  color: green; /* color for voting has ended */
}

#voting-status.not-started {
  color: red; /* color for voting hasn't started */
}

.voted {
  color: #00b894; /* green */
}

.not-voted {
  color: #d63031; /* red */
}